/* Remove focus ring / border when clicking sidebar links */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Dark mode colors. */
:root {
  --sl-color-accent-low: #002d08;
  --sl-color-accent: #008027;
  --sl-color-accent-high: #a3d9a6;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eeeeee;
  --sl-color-gray-2: #c2c2c2;
  --sl-color-gray-3: #8b8b8b;
  --sl-color-gray-4: #585858;
  --sl-color-gray-5: #383838;
  --sl-color-gray-6: #272727;
  --sl-color-black: #181818;
  font-weight: 400;
}

:root[data-theme="light"] {
  --sl-color-accent-low: #a5c8a7;
  --sl-color-accent: #007a24;
  --sl-color-accent-high: #003e0e;
  --sl-color-white: #181818;
  --sl-color-gray-1: #272727;
  --sl-color-gray-2: #383838;
  --sl-color-gray-3: #585858;
  --sl-color-gray-4: #8b8b8b;
  --sl-color-gray-5: #c2c2c2;
  --sl-color-gray-6: #eeeeee;
  --sl-color-gray-7: #f6f6f6;
  --sl-color-black: #eddeed2e;
  font-weight: 400;
}


:root[data-theme="dark"] .sponsors img, img,
:root[data-theme="dark"] .platinum img,
:root[data-theme="dark"] .gold img,
:root[data-theme="dark"] .special-sponsors img {
  filter: invert(35%) contrast(200%) brightness(1);
}

:root[data-theme="light"] .sponsors img, 
:root[data-theme="light"] .platinum img,
:root[data-theme="light"] .gold img,
:root[data-theme="light"] .special-sponsors img {
  filter: none;
}

.starlight-custom-aside--idea {
  border: 1px solid var(--sl-color-green);
  border-radius: 0.5rem;

  .starlight-aside__title {
    text-transform: uppercase;
  }
}

a {
  text-decoration: none;
  font-weight: 30px;
}

a:hover {
  color: #42b883;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
h1 {
  font-size: 2rem;
}
h3 {
  font-size: 1.2rem;
}
h2 {
  font-size: 1.5rem;
}

.counter-btn {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: bold;

  transition: all 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.counter-area {
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: 0.5rem;
  padding: 10px;

  transition: all 0.2s ease;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow */
}
/* Features Section */
.features-section {
  display: flex;
  justify-content: space-around;
  padding: 3rem 2rem;
  background-color: #f9fafb;
}

.feature {
  text-align: center;
  max-width: 300px;
}

.feature h3 {
  font-size: 1.5rem;
  color: #35495e;
  margin-bottom: 0.5rem;
}

.feature p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

/* Card Grid */
.card-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.animated-card {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.animated-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

homeh2 {
  font-weight: 800;
  text-align: center;
}
.inline-link {
  display: flex;
  margin-top: 15px;
  gap: 10px;
}

.icons{
  margin-top: -4px;
  border-radius: 5px;
  margin-left: 5px;
}

.preview{
  padding: 1rem; 
  background-color: black; 
  border-radius: 0.5rem; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.sponsors {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Always two columns */
  align-items: center;
  justify-items: center;
  background-color: rgba(69, 66, 66, 0.134);
  border-radius: 0.5rem;
}
.sponsors h4{
  text-align: center;
}
.sponsors img {
  width: 100px;
  height: 60px;
  object-fit: contain;
  padding: 8px;
  transition: transform 0.2s;
}
.sponsors > a:first-child {
  grid-column: 1 / -1;
}
.sponsors > a:hover {
  transform: scale(1.08) rotate(-2deg);
  background-color: #ffffff;
}

.special-sponsors {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 10px;
  text-align: center;
}
.special-sponsors p {
  margin-top: 10px;
  flex: 1 1 100%;
}
.special-sponsors img {
  max-width: 160px;
  width: 100%;
  height: auto;
  display: block;
}

.benefit{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap:20px
}

.benefit > div{
  padding: 20px;
}
.platinum {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.9rem; 
  align-items: center;
  justify-items: center;
}
.platinum a:hover{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.platinum > a >img{
  width: 160px;
  height: 60px;
  object-fit: contain;
  display: block;
  padding: 10px;
}
.gold{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.9rem; 
  align-items: center;
  justify-items: center;
}
.gold > a >img{
  width: 160px;
  height: 60px;
  object-fit: contain;
  display: block;
  padding: 10px;
}
.gold a:hover{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
@media (max-width: 600px) {
  .special-sponsors {
    gap: 16px;
    padding: 6px;
    flex-direction: column;
  }
  .platinum{
    grid-template-columns: repeat(2, 1fr);
  }
  .gold {
    grid-template-columns: repeat(2, 1fr);  
  }
  .benefit{
    flex-direction: column;
  }
  .special-sponsors img {
    max-width: 120px;
  }

}
