---
import Default from '@astrojs/starlight/components/TableOfContents.astro'
import BottomTableOfContentsWrapper from 'starlight-cooler-credit/components/BottomTableOfContentsWrapper.astro'
---

<Default><slot /></Default>
<BottomTableOfContentsWrapper>
  <h4 style="text-align:left; margin-bottom:5px">SPONSORS</h4>
  <div class="sponsors">
    <a href="https://www.monterail.com/services/vue-js-development?%20utm_source=sponsorship&utm_medium=logo&utm_campaign=Vue">
     <img src="/sponsors/monterail.svg" alt="Monterail"/>
    </a>
    <a href="https://www.monterail.com/services/vue-js-development?%20utm_source=sponsorship&utm_medium=logo&utm_campaign=Vue">
     <img src="/sponsors/vuemastery.avif" alt="Vue Mastery"/>
    </a>
    <a href="https://www.monterail.com/services/vue-js-development?%20utm_source=sponsorship&utm_medium=logo&utm_campaign=Vue">
     <img src="/sponsors/vueschool.avif" alt="Vue School"/>
    </a>
    <a href="https://www.monterail.com/services/vue-js-development?%20utm_source=sponsorship&utm_medium=logo&utm_campaign=Vue">
     <img src="/sponsors/storyblok.avif" alt="Storyblok"/>
    </a>
    <a href="https://www.monterail.com/services/vue-js-development?%20utm_source=sponsorship&utm_medium=logo&utm_campaign=Vue">
     <img src="/sponsors/vehikl.avif" alt="Vehikl"/>
    </a>
    <a href="https://www.monterail.com/services/vue-js-development?%20utm_source=sponsorship&utm_medium=logo&utm_campaign=Vue">
     <img src="/sponsors/chrome_frameworks_fund.avif" alt="Chrome Frameworks Fund"/>
    </a>
    <a href="https://www.monterail.com/services/vue-js-development?%20utm_source=sponsorship&utm_medium=logo&utm_campaign=Vue">
     <img src="/sponsors/vue_js_amsterdam.avif" alt="Vue.js Amsterdam"/>
    </a>
  </div>
  <div style="display: flex; flex-direction: column; align-items: center; gap: 1rem; margin-top: 2rem; margin-left: 2rem">
    <a href=https://srv.carbonads.net/ads/click/x/GTND427WFTAD6K7LCAA4YKQUCEAD623WCASITZ3JCABDEK7MCVADP23KCA7I523UCYADEKQECA7DK27YCYBI52QKC6SIV53UCAAI6K3EHJNCLSIZ">
     <img src="/sponsors/5553640155979510763aebb62751652e628b00e1.jpeg" alt="Carbon Ads" style="width: 80%; height: auto;"/>
     <p style="font-size: 0.7rem;">Design and Development tips in your inbox. Every weekday.</p>
    </a>
  </div>
</BottomTableOfContentsWrapper>
